.form {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  position: absolute;
  top: 50%;
  right: var(--fields);
  transform: translateY(-50%);

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: var(--offset-40);
  }

  @include to(680px) {
    width: calc(100% - var(--fields)*2);
  }
}

.submit-btn {
  margin: var(--offset-60) auto 0;
  border: none;
  background: none;
  color: var(--white-color);
  font-family: $default-font2;
  font-size: var(--font-size-24);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.form-field:not(#t) {
  position: relative;
  transition: all 0.3s;
  width: calc(100%/2 - (var(--offset-60)/2));

  @include to(1024px) {
    width: calc(100%/2 - (var(--offset-20)/2));
  }
}
[data-animation="focus"] .input-message {
  position: absolute;
  top: 50%;
  left: var(--input-padding);
  z-index: 3;
  display: flex;
  transform: translate(0%, -50%);
  user-select: none;
  pointer-events: none;
  color: var(--white-color);
  font-family: $default-font2;
  font-size: var(--font-size-24);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  transition: all 0.16s cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
.form-field__input {
  width: 100%;
  color: var(--white-color);
  font-family: $default-font2;
  font-size: var(--font-size-24);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  background: transparent;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid var(--white-color);
  cursor: pointer;
  padding-bottom: 10px;

  &::placeholder {
    color: var(--white-color);
    font-family: $default-font2;
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
  }

  &:focus + .form-field-message {
    opacity: 1;
  }
}
.mask-absolute {
  width: 100%;
  color: var(--white-color);
  font-family: $default-font2;
  font-size: var(--font-size-24);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  background: var(--pink-color);
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid var(--white-color);
  cursor: pointer;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}
[data-animation="focus"] .form-field__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
[data-animation="none"] .input-message {
  position: absolute;
  bottom: -4px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  transform: translate(0%, 100%);
  font-family: $default-font2;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;

  @include to(1024px) {
    font-size: 10px;
  }
}
[data-field-input][data-status="field--inactive"]:not(#r) {
  .input-message {
    color: var(--white-color);
  }
}
[data-field-input][data-status="field--active"]:not(#r) {
  .input-message {
    color: var(--white-color);
  }
}
[data-field-input][data-status="field--error"]:not(#r) {
  .input-message {
    color: var(--white-color);
  }
}
[data-field-input][data-status="field--success"]:not(#r) {
  .input-message {
    color: var(--white-color);
  }
}
.selected:not(#f) .input-message {
  top: 0;
  font-size: 14px;
}
.requaired-block {
  &-ico {
    width: 25px;
    height: 25px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.requaired-block {
  &__ico {
    width: 25px;
    height: 25px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    font-size: vw(16);
    line-height: 170%;
    margin: 0px vw(18);
    white-space: nowrap;

    color: #BBBEC2;
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width:1600px){
      font-size: vw(16);
      line-height: 1.4em;
    }
  }
}
.form-field-message {
  position: absolute;
  top: 0;
  opacity: 0;
  font-size: 12px;
  line-height: 120%;
  color: $bc;
  transform: translateY(calc(-100% - 10px));
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width:1600px) {
    font-size: vw(16);
  }
}
.requaired-block-ico--position {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.form-thanks-wrapper {
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--blue-color);
  pointer-events: none;
  transition: opacity .3s ease-out, visibility .3s ease-out;

  &.active {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-out, visibility .3s ease-out;
    pointer-events: all;
  }

  .form-thanks {
    background: var(--pink-color);
    width: 50vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--fields);
    position: relative;

    @include to(1600px) {
      width: 60vw;
    }

    @include to(680px) {
      width: 90vw;
    }

    .svg {
      margin-bottom: var(--offset-60);

      @include to(680px) {
        height: 60px;
        width: 60px;
      }
    }

    .dela-text-42 {
      text-align: center;
    }

    .manrope-text-24-normal {
      margin: var(--offset-20) 0 var(--offset-40);
    }

    .form-thanks-close {
      cursor: pointer;

      span {
        font-size: var(--font-size-24);
        border-bottom: 1px solid var(--white-color);
      }
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: var(--offset-60);

      .manrope-text-24-normal {
        margin: 0;
      }
    }
  }
}
