<svg class="svg-blue" preserveAspectRatio="none" width="425" height="154" viewBox="0 0 425 154" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.265625 99.2012L10.2656 76.7177L215.766 139.671L58.2656 153.661L0.265625 99.2012Z" fill="#F3FF0F"/>
<path d="M295.266 0.273926L266.266 3.27172L417.766 77.2172L424.266 44.2415L295.266 0.273926Z" fill="#F3FF0F"/>
<path d="M416.766 96.2034V46.2402L291.266 2.77227L106.766 2.77227L6.76563 52.7354V96.2034L61.7656 147.665L349.266 138.672L416.766 96.2034Z" fill="#2763E8"/>
</svg>
