.form-thanks-wrapper(data-thanks)
  .form-thanks
    <svg class="svg" width="101" height="100" viewBox="0 0 101 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M88.9615 16L59.4744 0H36.3974L10.7564 16L0.5 50.6667L10.7564 85.3333L42.8077 100L74.859 96L97.9359 73.3333L100.5 44L88.9615 16Z" fill="#2763E8"/>
    <path d="M35.8235 46.7742L29.5 55.8064L43.4118 70L72.5 41.6129L69.9706 30L43.4118 57.0968L35.8235 46.7742Z" fill="#F3FF0F"/>
    </svg>
    .dela-text-42 Дякуємо за звернення
    .manrope-text-24-normal Ми зв’яжемось з вами через декілька хвилин
    .form-thanks-close(data-close-thanks).link-style
      span закрити ↗
    .row
      a(href="#").manrope-text-24-normal.link--hover
        span Facebook
      a(href="#").manrope-text-24-normal.link--hover
        span Instagram
      a(href="#").manrope-text-24-normal.link--hover
        span Youtube


