<svg class="svg-pink" preserveAspectRatio="none" width="425" height="154" viewBox="0 0 425 154" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M0.00430298 99.1759L10.0043 76.6759L215.504 139.676L58.0043 153.676L0.00430298 99.1759Z" fill="#F3FF0F"/>
   <path d="M295.002 0.175583L266.002 3.17558L417.502 77.1756L424.002 44.1756L295.002 0.175583Z" fill="#F3FF0F"/>
   <path d="M416.5 96.1755V46.1755L291 2.67554L106.5 2.67554L6.50023 52.6755L6.50023 96.1755L61.5002 147.676L349 138.676L416.5 96.1755Z" fill="#FF64CA"/>
</svg>
