
extends ../layout/main
block variable
  -
    var title_page = 'news'
    var id_page = 'id-page-news'
    var class_page = 'class-page-news'
    var breadcrumbsSubitem = [
      {
        label: 'news',
        link: pagesLink[0].news
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/loader.js')
  script(defer src='./assets/scripts/news-page.js')
  script(defer src='./assets/scripts/news-page-animation.js')
  script(defer src='./assets/scripts/footer-animation.js')

block content
  .page__inner-title
    img(src="./assets/images/home/section-7/title.png" alt="title-1").title
  .news__list__wrapper
    .news__list
      a(href="single-news.html").news
        img(src="./assets/images/news/1-1.png" alt="news").img
        .dela-text-24 15.03.23
        .dela-text-42 Відкриття дитячого садочка на території
        .hover
          +svg('news-hover')
      a(href="#").news
        img(src="./assets/images/news/2-1.png" alt="news").img
        .dela-text-24 15.03.23
        .dela-text-42 Знижка для військвих
        .hover
          +svg('news-hover')
      a(href="#").news
        img(src="./assets/images/news/3-1.png" alt="news").img
        .dela-text-24 15.03.23
        .dela-text-42 Насадження дерев та кущів на території жк
        .hover
          +svg('news-hover')
      a(href="#").news
        img(src="./assets/images/news/4-1.png" alt="news").img
        .dela-text-24 15.03.23
        .dela-text-42 Знижки в стоматології, на першому поверсі
        .hover
          +svg('news-hover')
      a(href="#").news
        img(src="./assets/images/news/4-1.png" alt="news").img
        .dela-text-24 15.03.23
        .dela-text-42 Знижки в стоматології, на першому поверсі
        .hover
          +svg('news-hover')
    #show-more-button.news__list-btn.link-style
      span більше ↗
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
